.options-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-list {
    width: 100%;
    text-align: center;
}

.options-list > .list-group-item:hover {
    background-color: dodgerblue;
    color: white;
}

.options-wrapper {
    overflow: scroll;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.options-content-wrapper {
    max-height: 70vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
}

.options-title-wrapper {
    margin: 20px 0px;
}
