.options-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-list {
    width: 100%;
    text-align: center;
}

.options-list > .list-group-item {
    border-width: 0px;
}

.options-list > .list-group-item:hover {
    background-color: #d41b2d;
    color: white;
}

.options-wrapper {
    overflow: auto;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.options-content-wrapper {
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid lightgrey;
}

.options-title-wrapper {
    margin: 20px 0px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #d41b2d !important;
    border-color: #d41b2d !important;
}

.btn-primary:hover {
    background-color: #d41b2dE0 !important;
    border-color: #d41b2d !important;
}

.btn-light {
    background-color: #FFF !important;
    border-color: #FFF !important;
    color: #d41b2d !important;
}

.btn-light:hover {
    color: #000 !important;
}

a, a:hover, a:visited {
    color: #d41b2d;
}

/**
Picked this up from here.
https://stackoverflow.com/a/14822905/1518924
 */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #d41b2d !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #d41b2dF0 !important;
    outline: 0 none;
}
