.content-creator-container {
    margin: 10px 0px;
    border: 1px solid lightgrey;
    padding: 15px 5px;
    border-radius: 5px;
}

.add-new-content-btn {
    display: flex;
    justify-content: flex-end;
}