.article-title {
    padding: 0px 20px;
}

.section-container {
    padding: 0px 10px;
}

.section {
    padding: 10px 5px;
}

.sub-section {
    margin: 10px 0px;
}

.tags-container {
    margin: 10px 0px;
}

.tag-btn {
    padding-top: 4px;
    padding-bottom: 4px;
}
