.data-entry-container {
    margin-top: 20px;
}

.da-input-entry {
    margin: 10px;
}

.da-heading {
    display: flex;
}

.da-input-info {
    display: flex;
    justify-content: center;
}

.preview-form-wrapper {
    display: flex;
    justify-content: flex-end;
}

.admin-content {
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.preview-content-wrapper {
    border: 0px solid lightgrey;
    border-left-width: 1px;
}

.all-content-wrapper {
    border: 1px solid lightgrey;
}
