.crumb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.crumbs-middle {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: scroll;
}

.crumb-value {
    margin: 0px 5px;
    border: 1px solid #000;
    padding: 2px 5px;
}

.crumb-last > div {
    background-color: #000;
    color: #FFF;
}

.crumb-first > div {
    background-color: orange;
    color: #FFF;
}

.crumb-value > a, .crumb-value a:hover {
    color: inherit;
    text-decoration: underline;
}