.crumb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.crumbs-middle {
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}

.crumb-value {
    margin: 0px 5px;
    border: 1px solid #d41b2d5F;
    padding: 2px 5px;
}

.crumb-last > div {
    background-color: #d41b2d1F;
    color: #FFF;
}

.crumb-last > div:hover {
    background-color: #FFF;
    color: #d41b2d;
}

.crumb-first > div {
    background-color: #d41b2d1F;
    color: #FFF;
}

.crumb-value > a, .crumb-value a:hover {
    color: inherit;
    text-decoration: underline;
}
